body {
  background-color: $body-background;
}

a {
  text-decoration: none;
}

h2, h3, h4, h5 {
  color: $black;
}

h2 {
  font-size: 26px;
}

h5 {
  font-family: $body-font;
  font-weight: bold;
  font-style: italic;
}

hr {
  width: 75%;
  margin: 25px auto;
}

.container {
  width: 1000px;
  margin: 35px auto 45px auto;
}
